html, body {
    width: 100%;
    height:100%;
  }
  
body {
    /*background: linear-gradient(-45deg, #2C3E50,  #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    */
    background-image: url(low-poly-grid-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

header{
    padding: 35px;
    text-align: center;
    font-size: 200%;
}

footer{
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 80%;
}


#messages, #usersList{
    min-height: 400px !important;
    overflow-y: scroll;
}

.msg{
    padding: 6px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 10px;
}

.system{
    background-color: rgba(100,100,100, 0.3);
}

.outgoing{
    background-color: #343434;

}

.incoming{
    background-color: #4e545c;
}

.timestamp{
    font-size: 70%;
    color: gray;
    position: absolute;
    right: 6px;
    margin-top: -13px;
    font-style: italic;
}

.form-control:focus, .form-control, select {
    background-color: #0c2e3b91;
    border: 0;
}